.main{
    display: flex;
}
.dashboard{
    /* background: #eeeeee; */
    height: 100%;
    margin: auto;
}

.dashboard_card_plate{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    padding: 15px;
    /* justify-content: center; */
    /* flex-wrap: wrap; */

}

.new_article_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.new_article{
    color: #fdecff;
    background-color: #724b74;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 500ms;
    text-decoration: none;
}

.new_article:hover{
    background: #d5b0d8;
    color: #724b74;
}

.content{
    width: 80%;
    height: 100vh;
}

@media screen and (max-width: 600px){
    .content{
        width: 100%!important;
        margin-top: 50px;
        position: absolute;
    }

    .dashboard_card_plate{
        grid-template-columns: 1fr;
        padding: 25px;
    }
}