.createArticle{
    display: flex;
    min-height: 100vh;
}

.form{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 600px){
    .form{
        width: 100%;
        margin:auto;
        position: absolute;
        margin-top: 60px!important;
    }
}

.main_form{
    width: 70%;
}

.save_btn{
    background: #38123a;
    color: #f1e4eb;
    border: none;
    border-radius: 5px;
    padding: none!important;
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 5px 10px;
    transition: 500ms;
}

.save_btn:hover{
    background: #8900a5;
    cursor: pointer;
}

.btns{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    width: 98%;
}