.dashboard_card{
    background: #fdecff;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    padding: 25px;
    /* margin: 20px; */
    box-shadow: 0px 3px 5px #8d5191;
    /* width: 70%; */
}

.text{
    margin-top: 10px;
}

.lng{
    font-size: 20px;
    color: #6F0B74;
    font-weight: 900;
}

.num{
    font-size: 25px;
    color: #1c041d;
    padding-top: 8px;
}

.dashboard_card img{
    width: 70px;
    height: 70px;
}

/* .width{

} */