.article {
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    width: 80%;
    padding: 0px 20px;
}
@media screen and (max-width: 600px) {
    .article {
        width: 100% !important;
        position: absolute;
        margin-top: 30px;
    }
    .card-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .createWrapper {
        padding: 30px 0px !important;
    }
}
.create {
    color: #fdecff;
    background-color: #724b74;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 500ms;
    text-decoration: none;
    align-self: center;
}

.create:hover {
    background: #d5b0d8;
    color: #724b74;
}

.create img {
    margin-bottom: -5px;
    padding-left: 5px;
}

.d-flex {
    display: flex;
}

.create_btn {
    text-decoration: none;
    color: #fdecff;
    background-color: #38123a;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 5px;
    /* margin-top: 2px; */
    transition: 500ms;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_btn:hover {
    color: #38123a;
    background: white;
    border: 1px solid #38123a;
}

.createWrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

.createWrapper h2 {
    font-size: 34px;
}

.card-wrapper {
    display: flex;
}
