.sidebar {
    background-color: #38123a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 101.5%;
    position: static;
}

.main_sidebar{
    width: 20%;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    color: #fdecff;
    text-align: center;
    justify-self: flex-start;
    margin-top: auto;
}

.sidebar_content {
    list-style: none;
    padding: 0;
    justify-self: center;
}

li {
    margin: 40px;
}

.sidebar_btn {
    color: #fdecff;
    background-color: #724b74;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: 500ms;
    text-decoration: none !important;
}

.sidebar_btn:hover {
    background: #d5b0d8;
    color: #fdecff;
}

.logout {
    color: #fdecff;
    background-color: #724b74;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 500ms;
}

.logout:hover {
    background: #d5b0d8;
    color: #fdecff;
}


.header_sideBar{
    margin: 25px;
    margin-top: auto!important;
    text-align: center;
    justify-self: flex-start;
}

.header_sideBar p{
    font-size: 20px;
    color: #fdecff
}
.hamburger{
    display: none;
    position: absolute;

    /* bottom: 0; */
    z-index: 9999;
}
@media screen and (max-width: 600px){
    .sidebar{
        display: none;
        min-width: 100vw;
        min-height: 100vh;
        position: absolute;
        opacity: 0.9;
        z-index: 999;
    }
    

    .hamburger{
        display: flex;
        padding: 20px;
    }

    .hamburger .header_sideBar{
        z-index: 400;
    }
}

.push{
    margin-left: 90px
}

.hamburger .header_sideBar p{
    color :black
}